<h1>Create a New List</h1>
<div class="form-align">
  <div class="form">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Create List", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
