.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon i {
  color: white;
  background-color: black;
  padding: 6px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}
